#!/usr/bin/env
# This script can create .desktop file that should be run from the shell.
# YOu need to change the detail.
# running './createapp.desktop --register-app' to add shortcut?

[Desktop Entry]
Type=Application
Version=1.0
Name=your_app_name
GenericName=Root_name
Comment=about your app
Categories=tpye;type;
Exec=/path/to/executable
Icon=/path/to/icon
Terminal=false
